@layer layout {
  /* Selects all elements that have a direct sibling preceding them (for content flow). Added to parent element to ensure spacing between all elements. */
  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  .grid-flow {
    display: grid;
    gap: var(--grid-flow-space, 1rem);

    align-content: start;
    justify-items: start;
  }

  .wrapper {
    --wrapper-max-width: 1130px !important;
    --wrapper-padding: 1rem;

    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: var(--wrapper-padding);

    /* helps to match the Figma file */
    box-sizing: content-box;
  }

  .wrapper[data-width="narrow"] {
    --wrapper-max-width: 720px !important;
  }

  .wrapper[data-width="wide"] {
    --wrapper-max-width: 1330px !important;
  }

  .section {
    padding-block: 3.75rem !important;

    @media (min-width: 760px) {
      padding-block: 8rem;

      &[data-padding="compact"] {
        padding-block: 4.5rem;
      }
    }
  }

  .equal-columns {
    display: grid;
    gap: var(--equal-columns-gap, 1rem);
    align-items: var(--column-layout-alignment, start);

    &[data-gap="large"] {
      --equal-columns-gap: 2rem;
    }

    &[data-vertical-alignment="centered"] {
      --column-layout-alignment: center;
    }

    &[data-vertical-alignment="bottom"] {
      --column-layout-alignment: end;
    }

    @media (width > 760px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }
}

@layer components {
  /* Hero */
  .hero {
    text-align: center;
    background-size: cover;
    font-size: var(--font-size-md);
    color: var(--text-high-contrast);
  }

  .hero__title {
    font-size: var(--font-size-heading-lg) !important;

    > span {
      display: block;
    }
  }

  /* Card */
  .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--background-light);
    border-radius: var(--border-radius-3);

    img {
      border-radius: var(--border-radius-2);
    }
  }

  .card__title {
    color: var(--card-title-color, var(--text-brand)) !important;
    font-size: var(--card-title-font-size, var(--font-size-heading-sm)) !important;
  }

  /* Button */
  .button {
    display: inline flex;
    cursor: pointer;
    font-family: var(--ff-heading);
    font-weight: 700 !important;
    font-size: var(--font-size-md) !important;
    background-color: var(--background-accent-main) !important;
    padding: 0.5rem 1rem !important;
    border-radius: var(--border-radius-1);
  }

  .button:hover,
  .button:focus-visible {
    background: var(--background-accent-light) !important;
    color: var(--text-high-contrast);
  }
}

@layer utilities {
  .text-center {
    text-align: center;
  }
  .text-brand {
    color: var(--text-brand);
  }
  .text-high-contrast {
    color: var(--text-high-contrast);
  }

  .section-title {
    font-size: var(--font-size-heading-regular) !important;
  }

  .background-base {
    background-color: var(--background-base);
  }
  .background-light {
    background-color: var(--background-light);
  }
  .background-extra-light {
    background-color: var(--background-extra-light);
  }
  .background-dark {
    background-color: var(--background-dark);
  }
  .background-extra-dark {
    background-color: var(--background-extra-dark);
  }

  .background-accent {
    background-color: var(--background-accent-dark);
  }

  .font-size-heading-sm {
    font-size: var(--font-size-heading-sm);
  }
  .font-size-heading-regular {
    font-size: var(--font-size-heading-regular);
  }
  .font-size-heading-lg {
    font-size: var(--font-size-heading-lg);
  }
  .font-size-heading-xl {
    font-size: var(--font-size-heading-xl);
  }

  .font-size-sm {
    font-size: var(--font-size-sm);
  }
  .font-size-regular {
    font-size: var(--font-size-regular);
  }
  .font-size-md {
    font-size: var(--font-size-md);
  }
  .font-size-lg {
    font-size: var(--font-size-lg) !important;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
